{# index.html #}
{% extends "shared/layout.html" %}

{% block page %}
    {% include "parts/includes/header.html" %}

    <main role="main">
        <section>
            {% include "parts/components/hero-banner.html" %}
        </section>

        <section class="pt-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <div class="text-center mb-40 animate__animated animate__fadeIn">
                            {% include "parts/elements/heading.html" with { title: "HOBS" } %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for item in products %}
                    <div class="col-xl-4 animate__animated animate__fadeInUp">
                        {% include "parts/elements/card.html" with { modifyClass: " bx-product fs-18 mb-50 mb-xl-0", image: item.image, title: item.title, desc: item.desc, list: item.list, link: true } %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    {% include "parts/includes/footer.html" %}
{% endblock %}
