{# hero-banner.html #}
<div class="niteco-hero-banner animate__animated animate__fadeInDown">
    <div class="swiper-container" data-swiper="init">
        <div class="swiper-wrapper">
            <div class="niteco-hero-banner__item swiper-slide" style="background-image:url(./assets/images/herohob.jpg)">
                <div class="container h-100">
                    <div class="position-relative h-100">
                        <div class="niteco-hero-banner__content">
                            <div class="p-35 bg-black animate__animated animate__fadeInLeft">
                                <h2 class="niteco-hero-banner__title text-uppercase text-niteco-main font-weight-light lh-08 fs-48 mb-20">HOBS</h2>
                                <div class="niteco-hero-banner__meta text-niteco-main text-uppercase fs-20 font-weight-light mb-110">Accessories & Spare parts</div>
                                <a href="#" class="btn btn-niteco-main rounded-0 text-white text-uppercase px-35">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
<!--        <div class="swiper-pagination swiper-pagination-white"></div>-->
        <!-- Add Arrows -->
<!--        <div class="swiper-button-next swiper-button-white"></div>-->
<!--        <div class="swiper-button-prev swiper-button-white"></div>-->
    </div>
</div>
